*.changes
*.chg
credentials.st
*.errors
/github-cache
github-*.zip
.gradle
gradle-local.properties
*.image
image.*/
*.img
*.img7
/package-cache
PharoDebug.log
Pharo*.sources
/play-cache
/play-stash
*.sml
SqueakDebug.log
pharo-local/
result
